<!--about-->
<% include ./partials/header %>

    <div class="bar-top">
        <div class="container">
        </div>
    </div>

<div class="container"><!--Container-->

<div class="row">
    <div class="col-md-9">
        <header class="card mt-5">
            <div class="card-body marine">
                <h1>About Our Church</h1>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in lectus vestibulum, venenatis risus sit amet, porta magna. Quisque ut erat tristique, ornare sem in, dictum mi. Aliquam at erat tincidunt, finibus enim non, facilisis nulla. Maecenas maximus eros risus, non consequat lectus convallis non. Sed interdum in dui et rhoncus. Fusce non leo eget lorem placerat ultricies nec sit amet ligula. In scelerisque maximus metus id finibus. Nam nulla metus, fringilla sed urna non, cursus ornare ante. In sodales lorem sit amet lorem porttitor viverra. Nulla vel pharetra lorem. Sed scelerisque id metus id semper. Donec nec lacinia lacus. Cras in ex maximus, finibus nisl vel, egestas quam. Aliquam feugiat sapien vel dolor facilisis, nec elementum sapien malesuada. Sed lorem lorem, vulputate non lacus vel, commodo maximus felis.</p>
                <p>Officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Excepturi tempor quis nunc ea. Lacus tristique sed ultrices sagittis, molestie sit ac praesent, tristique mollis. Praesent vivamus praesent eget vel turpis, rhoncus eu bibendum justo, integer pharetra ante et eu. Cras elementum. Nullam sed magna erat. Integer malesuada. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Integer lacinia. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor.</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Cras elementum. Quisque porta. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede. Fusce suscipit libero eget elit. Pellentesque pretium lectus id turpis. Nullam sit amet magna in magna gravida vehicula. Suspendisse sagittis ultrices augue. Mauris metus.</p>
            </div>
        </header>
    </div>
    <div class="col-md-3">
        <aside class="card mt-5">
            <div class="card-body feather-color">
                <h4>Church Information</h4>
            </div>    
            <div class="card-body">
                <p>Additional Information goes here</p>
                <p>Lorem ipsum is a dummy text or placeholder text mostly used by graphic designers, publishers, typographers, and developers. The history of Lorem Ipsum dates to 45 BC with its roots in classical Latin literature. Lorem Ipsum has been an industry standard since the 1500s for placeholder text allowing designers to focus on the design aspects without the need for quality content.</p>
            </div>
        </aside>
    </div>
</div>    

<% include ./partials/footer %>