<% include ./partials/headeradmin %>

<h2  style="float:left;">Users</h2>        
          <a class="btn btn-md btn-primary" style="float:right;" href="/register">Add a New User</a>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Delete</th>
                  <th>Username</th>
                  <th>Aministration</th>
                </tr>
              </thead>
              <tbody>
              <% users.forEach(function (user) { %>
                <tr>
                  <td>
                    <form class="delete-form" action="/<%= user._id %>?_method=DELETE" method="POST">
                      <button class="btn btn-sm btn-danger btn-square">
                        <i class="far fa-trash-alt"></i> Delete</button>
                    </form>
                  </td>
                  <td><%= user.username %></td>
                  <td>
                  <%if(user.isAdmin == true){ %>
                      <span>true</span>
                      <% } else{ %>
                      <span><strong style="color: red;">* </strong>delete this user immediately</span>
                      <% } %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table> 
          </div>
        </main>
      </div>
    </div>

<% include ./partials/footeradmin %>