<% include ./partials/header %>

<div class="container"><!--Container-->

<div class="row mt-5">
    <div class="col-md-5">
        <aside class="card">
            <div class="card-body feather-color">
                <h4>Church Information</h4>
            </div>    
            <div class="card-body">
                <p>Information goes here.</p>    
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>    
            </div>
        </aside>
    </div>
        <div class="col-md-7">
            <header class="card">
                <div class="card">
                    <div class="card-body marine">
                        <h1 id="contact">Contact Us</h1>
                    </div> 
                    <div class="card-body">
                        <h3 class="forest-text"><i class="fas fa-map-marker-alt"></i> Address</h3>
                            <p>Address Goes Here</p>
                        <h3 class="forest-text"><i class="fas fa-phone"></i> Phone</h3>
                            <p>Phone Number Goes Here</p>
                        <h3 class="forest-text"><i class="fas fa-envelope"></i> Email</h3>
                            <p>Email goes here</p>
                        <h3 class="forest-text"><i class="fas fa-user"></i> Staff</h3>
                            <p><strong>Pastor: </strong> <span>Name goes here</span></p>
                            <p><strong>Deacon: </strong> <span>Name goes here</span></p>
                            <p><strong>Deacon: </strong> <span>Name goes here</span></p>
                    </div>
                </div>
            </header>
        </div>
</div>

<% include ./partials/footer %>